{% extends 'base_operator.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

                    ''

 <div class="container" style="margin-top: 1rem">
<div class="col-12 col-md-8">

  <form method="post" class="my-form">
     {% csrf_token %}
   <table class="table">
        <tr>
            <td>ФИО клиента</td>
            <td>{{ form.client_name }}</td>
        </tr>
       <tr>
            <td>Данные для заявки (д.р., паспорт, старый адрес и др.)</td>
            <td>{{ form.client_info }}</td>
        </tr>

        <tr>
            <td>Номер телефона</td>
            <td>{{ form.client_phone_number }}</td>
        </tr>
       <tr>
            <td>{{ form.second_phone_number.label_tag }}</td>
            <td>{{ form.second_phone_number }}</td>
        </tr>
        <tr>
            <td>Адрес</td>
            <td>{{ form.address }}</td>
        </tr>
        <tr>
            <td>Статус заявки</td>
            <td>{{ form.contract_status }}</td>
        </tr>
       <tr>
            <td>{{form.provider.label_tag}} </td>
            <td>{{ form.provider }}</td>
        </tr>
       <tr>
            <td>{{form.contract_number.label_tag}} </td>
            <td>{{ form.contract_number }}</td>
        </tr>
       <tr>
            <td>Набор услуг (или название тарифа)</td>
            <td>{{ form.tariff }}</td>
        </tr>
       <tr>
            <td>Абонентская плата</td>
            <td>{{ form.arpu }}</td>
        </tr>
        <tr>
            <td>Покупка оборудования</td>
            <td>{{ form.equipment }}</td>
        </tr>
       <tr>
            <td>Дата подключения</td>
            <td>{{ form.connection_date }}</td>
        </tr>

    </table>
    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
</form>


    </div>
</div>


<div class="container" style="margin-top:   1rem">
  <div class="row">
     <div class="col-12 col-md-8">
        <!-- Список комментариев -->
        {% for comment in comments %}
          <div class="card mb-3">
            <div class="card-body">
              <h6 class="card-title">{{ comment.user.first_name }} <small class="text-muted"> | {{ comment.created_at }}</small> </h6>
              <p class="card-text">{{ comment.text }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>



{% endblock %}